$color-white: #fff;
$color-black: #262626;
$color-red: #f44336;

$color-grey-1: #8d8d8d;
$color-grey-2: #c2c2c2;
$color-grey-3: #f5f5f5;
$color-grey-4: #ffffff;

$color-secondary: #64b5f6;
$color-secondary-dark: #115293;

$footer-height: 10rem;
$mobile-header-height: 5rem;
